.list {
	margin-top: clamp(20px, 6.25vw, 40px);
}
.task__none {
	margin-top: clamp(20px, 6.25vw, 40px);
	font-weight: 600;
	font-size: clamp(1rem, 3.28vw, 1.5rem);
	font-family: 'Inter', sans-serif;
}
